<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="{% include "css/boostrap-grid.css %}">
  </head>

  <body>
    <header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
      <div class="site-info">
        <h1 class="site-name">{{ site.name }}</h1>
        <p class="site-description">{{ site.description }}</p>
      </div>
    </header>

    <div id="main" role="main" class="bd-content p-5">
      {{ content }}
    </div>


  </body>
</html>