<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="https://jacobmgreer.github.io/Same-Old-Same-Old/extras/bootstrap/css/bootstrap.min.css">
    <script src="https://jacobmgreer.github.io/Same-Old-Same-Old/extras/feather.min.js"></script>
    <style>
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

    </style>
  </head>

  <body>
    <header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
      <div class="site-info">
        <h1 class="site-name">{{ site.name }}</h1>
        <p class="site-description">{{ site.description }}</p>
      </div>
    </header>



    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>
      </div>
    </nav>


      
        {{ content }}




  </body>
</html>