<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="https://jacobmgreer.github.io/Same-Old-Same-Old/extras/bootstrap/css/bootstrap.min.css">
    <script src="https://jacobmgreer.github.io/Same-Old-Same-Old/extras/jquery.min.js"></script>
    <script src="https://jacobmgreer.github.io/Same-Old-Same-Old/extras/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
  </head>

  <body>
    <header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-info">
      <div class="site-info">
        <h1 class="site-name">{{ site.name }}</h1>
        <p class="site-description">{{ site.description }}</p>
      </div>
    </header>


<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky"><br/><br/>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Homepage
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Artworks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Artists
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Data
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Added</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Removed</button>
          </div>
          <div class="btn-group" id="monthdrop">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <span data-feather="calendar"></span>
              Month
            </button>
            <div class="dropdown-menu"></div>
          </div>
        </div>
      </div>

      <h4>Changes to the Gallery</h4>
      <div class="table-responsive">
          {{ content }}
      </div>
    </main>
  </div>
</div>


  </body>
</html>